/**
 * 月份选择器样式
 */

.ldp-month-picker {
  width: 280px;
  padding: var(--ldp-spacing-sm);
}

/* 面板 */
.ldp-month-picker__panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--ldp-spacing-sm);
  padding: var(--ldp-spacing-sm) 0;
}

.ldp-month-picker__cell {
  width: 100%;
  height: 40px;
}

.ldp-month-picker__cell--current {
  border: 1px solid var(--ldp-primary);
}